.container {
    padding-top: 125px;
    max-width: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;

  }

.titulo{
    justify-items: center;
    color:black; 
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px; 
}

input {
    width: 300px; 
    margin:auto;
    display: block;
    margin-top: 20px; 
  }

  img{
    justify-items: center;
    align-items: center;
  }